<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if message %}
        <h1>{{message}}</h1>
    {% endif %}
    <form action = "{% url 'login' %}" method = "POST">
        {% csrf_token %}
        <label for = "uname">Enter UserName: </label>
        <input type = "text" placeholder = "Username" id = "uname" name = "username">
        <br>
        <br>
        <label for = "pass">Enter Password: </label>
        <input type = "password" placeholder = "Password" id = "pass" name = "password">
        <br>
        <br>
        <input type = "submit">
        <br>
        <br>
        <a href="{% url 'registration' %}">Don't have an account? Register</a>
    </form>
</body>
</html>
